:root {
    --mainColor: rgb(226, 202, 250);
    --defaultBack: rgb(53, 53, 53);
}

body {
    font-family: 'Asap Condensed', sans-serif;
    font-family: 'Geologica', sans-serif;
    font-family: 'Nunito', sans-serif;
    font-family: 'Nunito Sans', sans-serif;
    font-family: 'Raleway', sans-serif;
    font-family: 'Red Rose', serif;
    font-family: 'Ubuntu', sans-serif;
    margin: 0;
    background: var(--defaultBack);
    min-height: 200vh;
    overflow-x: hidden;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: 0.6s;
    padding: 20px 0;
    z-index: 100000;
    background-color: black;
}

header.sticky {
    padding: 5px 0;
    background: rgba(0, 0, 0, 0.6);
}

header ul {
    position: relative;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header ul li {
    position: relative;
    list-style: none;
}

header ul li a {
    position: relative;
    margin: 0 15px;
    text-decoration: none;
    color: #fff;
    letter-spacing: 1px;
    font-weight: 500px;
    transition: 0.6s;
    padding: 8px;
}

header ul li a:hover,
header.sticky ul li a:hover {
    color: var(--mainColor);
}

header.sticky .logo,
header.sticky ul li a {
    color: #ffffff;
}

header ul li a .icons {
    max-height: 30px;
    width: auto;
}

header ul li a #cart-number {
    width: 30px;
    height: 30px;
    background-color: var(--mainColor);
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 18px;
    border-radius: 50%;
    font-size: 1.4em;
}

.section1 {
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.section1 .checkout-page {
    width: 100vw;
    height: 70vh;
    justify-content: center;
    align-items: center;
    font-size: 1.5em;
    color: white;
    display: none;
}

.section1 .checkout-page h1 {
    border: 2px solid white;
    font-size: 1.5rem;
    padding: 3vw;
}

.section1 .order-column {
    width: 30vw;
    margin-top: 15vh;
}

.section1 .order-column .order {
    width: 100%;
    height: 18vh;
    border: 2px solid white;
    font-size: 1.5em;
    color: white;
    padding: 2vw;
    display: none;
}

.section1 .order-column .order .row1, .section1 .order-column .order .row2 {
    height: 6vh;
    display: flex;
    flex-direction: column;
}

.section1 .order-column .order .row3 {
    display: flex;
    flex-direction: row;   
    justify-content: space-between;
}

.section1 .order-column .order .row3 .tax{
    align-items: start;
}

.section1 .order-column .order .row3 .taxprice{
    align-self: end;
}

.section1 .order-column .order .row2, .section1 .order-column .order .row3 {
    align-items: end;
}

.section1 .order-column .final {
    width: 100%;
    border: 2px solid white;
    font-size: 1.5em;
    color: white;
    padding: 2vw;
}

.section1 .order-column .final .row1 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    font-size: 1.5em;
}

.section1 .order-column .payCancel {
    width: 100%;
    border: 2px solid white;
    font-size: 1.5em;
    color: white;
    padding: 2vw;
}

.section1 .order-column .payCancel .row1 {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.section1 .order-column .payCancel .row1 button {
    width: 10vw;
    font-size: 1.5em;
    cursor: pointer;
    border-radius: 8px;
    border: none;
}

.section1 .order-column .payCancel .row1 .payButton {
    background-color: rgb(0, 212, 0);
}

footer {
    background-color: black;
    color: white;
    width: 100vw;
    height: 100vh;
}

footer .footer-content {
    margin-top: 5vh;
    padding: 10vh 30vw 0 30vw;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

footer .footer-info_1,
.footer-info_2 {
    display: flex;
    flex-direction: column;
    justify-content: left;
    width: 15vw;
}