:root {
    --mainColor: rgb(229, 201, 255);
}

body {
    background: #6a6a6a;
    min-height: 200vh;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: 0.6s;
    padding: 20px 0;
    z-index: 100000;
}

header.sticky {
    padding: 5px 0;
    background: rgba(0, 0, 0, 0.6);
}

header ul {
    position: relative;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header ul li {
    position: relative;
    list-style: none;
}

header ul li a {
    position: relative;
    margin: 0 15px;
    text-decoration: none;
    color: #fff;
    letter-spacing: 1px;
    font-weight: 500px;
    transition: 0.6s;
}

header.sticky .logo,
header.sticky ul li a {
    color: #ffffff;
}
{
    font-family: 'Asap Condensed', sans-serif;
    font-family: 'Geologica', sans-serif;
    font-family: 'Nunito', sans-serif;
    font-family: 'Nunito Sans', sans-serif;
    font-family: 'Raleway', sans-serif;
    font-family: 'Red Rose', serif;
    font-family: 'Ubuntu', sans-serif;
    margin: 0;
}
    

footer {
    background-color: var(--mainColor);
    
}
