:root {
    --mainColor: rgb(179, 173, 255);
    --defaultBack: rgb(53, 53, 53);
}

body {
    font-family: 'Asap Condensed', sans-serif;
    font-family: 'Geologica', sans-serif;
    font-family: 'Nunito', sans-serif;
    font-family: 'Nunito Sans', sans-serif;
    font-family: 'Raleway', sans-serif;
    font-family: 'Red Rose', serif;
    font-family: 'Ubuntu', sans-serif;
    font-family: 'Open Sans', sans-serif;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    margin: 0;
    background: var(--defaultBack);
    min-height: 200vh;
    overflow-x: hidden;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: 0.6s;
    padding: 20px 0;
    z-index: 100000;
    background-color: black;
    border-bottom: 8px solid transparent;
    border-image: linear-gradient(to right, rgb(255, 0, 242), rgb(98, 0, 255)) 1;
}

header.sticky {
    padding: 5px 0;
    background: rgba(0, 0, 0, 0.6);
    border-bottom:0px;
}

header ul {
    position: relative;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header ul li {
    position: relative;
    list-style: none;
}

header ul li a {
    position: relative;
    margin: 0 15px;
    text-decoration: none;
    color: #fff;
    letter-spacing: 1px;
    font-weight: 500px;
    transition: 0.6s;
    padding: 8px;
}

header ul li a:hover,
header.sticky ul li a:hover {
    color: var(--mainColor);
}

header.sticky .logo,
header.sticky ul li a {
    color: #ffffff;
}

header ul li a .icons {
    max-height: 30px;
    width: auto;
}

header ul li a #cart-number {
    width: 30px;
    height: 30px;
    background-color: var(--mainColor);
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 18px;
    border-radius: 50%;
    font-size: 1.4em;
}

.section1 {
    width: 100vw;
    height: 100vh;
    margin-top: 0;
    position: relative;
    overflow: hidden;
}

.section1 .table {
    width: 100vw;
    height: 100vh;
    background: url(https://cdn.pixabay.com/photo/2023/07/30/19/09/wood-8159535_1280.jpg) no-repeat center center;
    background-size: cover;
    position: relative;
}

.section1 .table .menu-prompt {
    position: absolute;
    top: 22vh;
    left: 7vw;
}

.section1 .table .reservation-prompt {
    position: absolute;
    top: 21vh;
    left: 60vw;
}

.section1 .table .identifier {
    width: 15vw;
    height: 8vh;
    background-color: transparent;
    border-radius: 20px;
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;    
    font-family: 'Patrick Hand', cursive;
    font-size: 1.5em;
    transition: 0.6s;
    text-decoration: none;
    color: #fff;
}

.section1 .table .identifier img{
    width: 8vw;
    transform: rotate(20deg);
}

.section1 .table .menu-prompt .identifier {
    top: 20%;
    left: -10%;
}

.section1 .table .reservation-prompt .identifier {
    top: 80%;
    left: 65%;
}

.section1 .table .menu-prompt #plate-button {
    cursor: pointer;
    border: none;
    background-color: transparent;
    transition: transform .2s ease-in-out;
    width: 800px;
    transform: rotate(-10deg);
}

.section1 .table .reservation-prompt #cutlery-button {
    cursor: pointer;
    border: none;
    background-color: transparent;
    transition: transform .2s ease-in-out;
    width: 320px;
    transform: rotate(15deg);
}

.section1 .table .menu-prompt #plate-button:hover {
    transform: rotate(0deg);
    transform: translateY(-5vh);
}

.section1 .table .reservation-prompt #cutlery-button:hover {
    transform: rotate(0deg);
    transform: translateY(-5vh);
}

.section1 .table button img {
    width: 100%;
    height: auto;
}

.section2 {
    width: 100%;
    border-top: solid 5px black;
}

.section3 .slider-parent {
    width: 100vw;
    height: 100vh;
    position: relative;
}

.section3 .slider-parent .slider-container {
    width: 300vw;
    height: 100vh;
    background-color: var(--defaultBack);
    display: flex;
    position: relative;
    transition: transform .5s ease-in-out;
    overflow: hidden;
}

.section3 .slider-parent .slider-container .slide {
    display: flex;
    align-items: first baseline;
    width: 100vw;
    height: 100vh;
    position: relative;
    background-color: var(--defaultBack);
}

.section3 .slider-parent .slider-container .slide .inner-slide {
    display: flex;
    overflow: hidden;
    background-color: var(--defaultBack);
    width: 100%;
    height: 95vh;
}

.section3 .slider-parent .slider-container .slide .inner-slide .text {
    margin: 0 40px 40px 150px;
}

.section3 .slider-parent .slider-container .slide .inner-slide .text h1 {
    color: var(--mainColor);
    font-family: 'Indie Flower', cursive;
    font-size: 5em;
    margin-bottom: -3vh;
    margin-top: 2vh;
}

.section3 .slider-parent .slider-container .slide .inner-slide .text p {
    object-fit: cover;
    object-position: bottom;
    color: white; 
}

.section3 .slider-parent .slider-container .slide .inner-slide .text a {
    color: var(--mainColor);
}

.section3 .slider-parent .slider-container .slide .inner-slide .text .reservation-link {
    position: relative;
    text-decoration: none;
    color: #fff;
    letter-spacing: 1px;
    transition: 0.6s;
    padding: 8px;
}

.section3 .slider-parent .slider-container .slide .inner-slide .text .reservation-link:hover{
    color: var(--mainColor);
}


.section3 .slider-parent .slider-container .slide .inner-slide img {
    width: auto;
    height: 425px;
    margin-right: 10vw;
    border-radius: 40px;
    margin-top: 14vh;
}

.section3 .slider-parent .slider-container .slide .inner-slide .text2 {
    margin: 0 40px 40px 150px;
    width:80vw;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;   
}

.section3 .slider-parent .slider-container .slide .inner-slide .text2 .info-box {
    width: 15vw;
    height: 25vw;
    border: 20px solid var(--mainColor);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
}

.section3 .slider-parent .slider-container .slide .inner-slide .text2 .info-box .icon{
    width: 10vw;
    height: 10vw;
    margin-left: 9.5vw;
    margin-top: -2vh;
    border: 3px solid var(--mainColor);
    border-radius: 50%; 
    object-fit: cover;
}

.section3 .slider-parent .slider-container .slide .inner-slide .text2 .info-box p{
    margin: 0 1vw 0 1vw;
}

.section3 .slider-parent .slider-container .slide .inner-slide .text3 {
    position: relative;
    width: 70vw;
    height: 80vh;
    justify-self: center;
    align-self: center;
    margin-left: 15vw;
}

.section3 .slider-parent .slider-container .slide .inner-slide .text3 .info-box {
    width: 30vw;
    height: 30vw;
    border: 20px solid var(--mainColor);
    border-radius: 10px;
    position: absolute;
    display: flex;
    flex-direction: column;
    color: white;
    text-align: center;
}

.section3 .slider-parent .slider-container .slide .inner-slide .text3 .info-box p {
    font-size: 1.8em;
}

.section3 .slider-parent .slider-container .slide .inner-slide .text3 #box2{
    top: 25%;
    right: 0%;
}

.section3 .slider-parent .slider-container .slide .inner-slide .text3 .info-box .display{
    width: 28vw;
    height: 15vw;
    margin-left: 1vw;
    margin-top: 1.7vh;
    border-radius: 10px; 
    object-fit: cover;
}

.section3 .slider-parent .move-left,
.section3 .slider-parent .move-right {
    background-color: rgba(182, 179, 195, 0.5);
    border: none;
    font-size: 3em;
    cursor: pointer;
    transition: opacity .9s ease-in-out;
    width: 6vw;
    padding-left: 2vw;
    padding-right: 2vw;
    height: 6vw;
    position: absolute;
    border-radius: 50%;
}

.section3 .slider-parent .move-left .arrow,
.section3 .slider-parent .move-right .arrow {
    width: 35px;
}

.section3 .slider-parent .move-left:hover,
.section3 .slider-parent .move-right:hover {
    opacity: 1;
    background-color: rgba(182, 179, 195, 0.7);
}

.section3 .slider-parent .move-left:active,
.section3 .slider-parent .move-right:active {
    background-color: rgba(182, 179, 195, 0.9);
}

.move-left {
    top: 40%;
    left: 2%;
}

.move-right {
    top: 40%;
    right: 2%;
}

.section3 .slider-parent .slider-container .slide .inner-slide .text p {
    font-size: 2em;
}

.section4 {
    width: 100%;
    height: auto;
    background-color: var(--defaultBack);
    overflow: hidden;
}

.section4 .section4-container {
    display: grid;
    grid-template-columns: 50% 50%;
    border-top: solid 5px black;
    border-bottom: solid 5px black;
}

.section4 .event-box {
    background-color: var(--mainColor);
    border: solid 1.5px black;
    height: 80vh;
    padding: 50px;
}

.section4 .section4-container .event-box .eventsbackground {
    height: 70vh;
    background-color: var(--defaultBack);
    border: 20px solid black;
    border-radius: 10px;
    color: white;
    display: flex;
    flex-direction: column;
    text-align: start;
    position: relative;
    overflow: hidden;
}

.section4 .section4-container .event-box .eventsbackground h1 {
    font-size: 2em;
    justify-self: center;
    align-self: center;
    color: var(--mainColor);
    justify-self: center;
    text-align: center;
    align-items: center;
    align-self: center;
}

.section4 .section4-container .event-box .eventsbackground p {
    font-size: 1.2em;
    margin-left: 1vw;
}

.section4 .section4-container .event-box .eventsbackground .knight{
    width: 9vw;
    position: absolute;
    right: 5%;
    top: 52%;
}

.section4 .section4-container .event-box .eventsbackground .wreath{
    width: 15vw;
    position: absolute;
    right: 30%;
    top: 60%;
}

footer {
    background-color: black;
    color: white;
    width: 100vw;
    height: 100vh;
}

footer .footer-content {
    margin-top: 5vh;
    padding: 10vh 30vw 0 30vw;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

footer .footer-info_1,
.footer-info_2 {
    display: flex;
    flex-direction: column;
    justify-content: left;
    width: 15vw;
}

@media (max-width: 1024px){ /*Tablets iPads portrait mode max-width:*/
    .section1 .table .menu-prompt #plate-button {
        width: 600px;
    }
    
    .section1 .table .reservation-prompt #cutlery-button {
        width: 250px;
    }

}