:root {
    --mainColor: rgb(179, 173, 255);
    --defaultBack: rgb(53, 53, 53);
}

body {
    font-family: 'Dhurjati', sans-serif;
    font-family: 'Lato', sans-serif;
    font-family: 'Open Sans', sans-serif;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    margin: 0;
    background: var(--defaultBack);
    min-height: 100vh;
    overflow-x: hidden;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: 0.6s;
    padding: 20px 0;
    z-index: 100000;
    background-color: black;
    border-bottom: 8px solid transparent;
    border-image: linear-gradient(to right, rgb(255, 0, 242), rgb(98, 0, 255)) 1;
}

header.sticky {
    padding: 5px 0;
    background: rgba(0, 0, 0, 0.6);
    border-bottom: 0px;
}

header ul {
    position: relative;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header ul li {
    position: relative;
    list-style: none;
}

header ul li a {
    position: relative;
    margin: 0 15px;
    text-decoration: none;
    color: #fff;
    letter-spacing: 1px;
    transition: 0.6s;
    padding: 8px;
}

header ul li a:hover,
header.sticky ul li a:hover {
    color: var(--mainColor);
}

header.sticky .logo,
header.sticky ul li a {
    color: #ffffff;
}

header ul li a .icons {
    max-height: 30px;
    width: auto;
}

header ul li a #cart-number {
    width: 30px;
    height: 30px;
    background-color: var(--mainColor);
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 18px;
    border-radius: 50%;
    font-size: 1.4em;
}

#title {
    font-family: 'Roboto', sans-serif;
    font-family: 'Dhurjati', sans-serif;
    letter-spacing: 5px;
    font-size: 4.5em;
    display: flex;
    justify-content: center;
    color: #fff;
    margin-top: 15vh;
    margin-bottom: 0;
}

.note {
    margin: 0 auto;
    width: 40vw;
    margin-top: 0vh;
    margin-bottom: 10vh;
    border: solid black 2px;
    background-color: var(--mainColor);
}

.note h1 {
    text-align: center;
}

form {
    margin: 0 5vw 10vh 5vw;
    overflow: hidden;
}

form .checklist {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

form .gifts {
    display: grid;
}

form .gifts .individual-checkbox {
    display: flex;
    align-items: end;
}

.input-form {
    display: flex;
    flex-direction: column;
}

.enter-name {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

input[type=text],
input[type=date],
input[type=number],
input[type=time],
input[type=email],
textarea {
    padding: 8px 15px;
    margin: 5px 0 10px 0;
    border: 1px solid #363636;
    border-radius: 4px;
    box-sizing: border-box;
    width: 100%;
}

input[type=radio] {
    transform: scale(1.5);
}

.type-of-seat {
    display: flex;
    flex-direction: column;
    margin-bottom: 3vh;
    margin-left: 1vw;
    line-height: 4vh;
}

.type-of-seat .radio-group {
    margin: 0;
}

#radio-label {
    margin-top: 0;
    margin-bottom: 0;
}

.bolden {
    font-weight: 400;
}

textarea {
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
}

input[type=submit] {
    width: 50%;
    background-color: #fff;
    padding: 8px 15px;
    margin: 8px 0;
    border: 1px solid #363636;
    border-radius: 4px;
    box-sizing: border-box;
}

input[type=submit]:hover {
    background-color: #dad8e4;
}

footer {
    background-color: black;
    color: white;
    width: 100vw;
    height: 95vh;
    overflow: hidden;
}

footer .footer-content {
    margin-top: 5vh;
    padding: 10vh 30vw 0 30vw;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    column-gap: 5vw;
    overflow: hidden;
}

footer .footer-info_1,
.footer-info_2 {
    display: flex;
    flex-direction: column;
    justify-content: left;
    width: 40vw;
}