:root {
    --mainColor: rgb(179, 173, 255);
    --defaultBack: rgb(53, 53, 53);
}

body {
    font-family: 'Dhurjati', sans-serif;
    font-family: 'Lato', sans-serif;
    font-family: 'Open Sans', sans-serif;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    margin: 0;
    background: var(--defaultBack);
    min-height: 300vh;
    overflow-x: hidden;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: 0.6s;
    padding: 20px 0;
    z-index: 100000;
    background-color: black;
    border-bottom: 8px solid transparent;
    border-image: linear-gradient(to right, rgb(255, 0, 242), rgb(98, 0, 255)) 1;
}

header.sticky {
    padding: 5px 0;
    background: rgba(0, 0, 0, 0.6);
    border-bottom: 0px;
}

header ul {
    position: relative;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header ul li {
    position: relative;
    list-style: none;
}

header ul li a {
    position: relative;
    margin: 0 15px;
    text-decoration: none;
    color: #fff;
    letter-spacing: 1px;
    transition: 0.6s;
    padding: 8px;
}

header ul li a:hover,
header.sticky ul li a:hover {
    color: var(--mainColor);
}

header.sticky .logo,
header.sticky ul li a {
    color: #ffffff;
}

header ul li a .icons {
    max-height: 30px;
    width: auto;
}

header ul li a #cart-number {
    width: 30px;
    height: 30px;
    background-color: var(--mainColor);
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 18px;
    border-radius: 50%;
    font-size: 1.4em;
}


.nav {
    position: fixed;
    /* change to sticky later */
    width: 17vw;
    height: auto;
    margin-top: 18.9vh;
    margin-left: 5vw;
    font-size: 1.5em;
    background-color: var(--mainColor);
    box-sizing: border-box;
    padding: 0;
    z-index: 1000;
}

.nav .nav-container {
    margin: 0;
    padding: 0;
}

.nav ul {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0;
    padding: 30px;
    line-height: 3em;
    overflow: hidden;
}

.nav ul li {
    position: relative;
    list-style-type: none;
}

.nav ul li:hover {
    font-weight: bold;
}

.nav ul li a {
    text-decoration: none;
    color: black;
}

#title {
    font-family: 'Dhurjati', sans-serif;
    display: flex;
    justify-content: center;
    font-size: 4.5em;
    letter-spacing: 5px;
    margin-top: 15vh;
    margin-bottom: 0;
    color: #fff;
}

.main-part {
    top: 10vh;
    margin-left: 25vw;
    color: #000;
}

.main-part h1 {
    margin-top: 0;
    padding: 20px 20px 20px 30px;
    font-size: 2em;
    background-color: var(--mainColor);
    z-index: 1;
    margin-right: 120px;
}

.box-container {
    margin-bottom: 5vh;
    margin-left: 45px;
    display: grid;
    grid-template-columns: repeat(3, 320px);
    row-gap: 20px;
}

.box {
    background-color: #fff;
    overflow: hidden;
    border-radius: 3px;
    width: 300px;
    height: 350px;
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
    transition: transform 0.2s ease-in-out;
    cursor: pointer;
}

.box:active {
    transform: scale(0.8);
}
    

.box button{
    cursor: pointer;
    padding: 0;
    border: none;
    background-color: transparent;
    font-family: inherit;
    font-size: inherit;
    text-align: left;    
}

.box img {
    width: 300px;
    height: 200px;
    object-fit: cover;
}

.box h3,
.box p {
    margin: 15px 10px 10px 15px;
}

.box .price {
    font-weight: 400;
}

.top {
    text-align: end;
    padding: 50px 90px 20px 60px;
}

.toTopButton {
    font-size: 1.8em;
    border: none;
    background-color: inherit;
    cursor: pointer;
    color: white;
    border: solid 2px white;
}

footer {
    background-color: black;
    color: white;
    width: 100vw;
    height: 100vh;
}

footer .footer-content {
    margin-top: 5vh;
    padding: 10vh 30vw 0 30vw;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

footer .footer-info_1,
.footer-info_2 {
    display: flex;
    flex-direction: column;
    justify-content: left;
    width: 15vw;
}