:root {
    --mainColor: rgb(226, 202, 250);
    --defaultBack: rgb(53, 53, 53);
}

body {
    font-family: 'Asap Condensed', sans-serif;
    font-family: 'Geologica', sans-serif;
    font-family: 'Nunito', sans-serif;
    font-family: 'Nunito Sans', sans-serif;
    font-family: 'Raleway', sans-serif;
    font-family: 'Red Rose', serif;
    font-family: 'Ubuntu', sans-serif;
    margin: 0;
    background: var(--defaultBack);
    min-height: 200vh;
    overflow-x: hidden;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: 0.6s;
    padding: 20px 0;
    z-index: 100000;
    background-color: black;
}

header.sticky {
    padding: 5px 0;
    background: rgba(0, 0, 0, 0.6);
}

header ul {
    position: relative;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header ul li {
    position: relative;
    list-style: none;
}

header ul li a {
    position: relative;
    margin: 0 15px;
    text-decoration: none;
    color: #fff;
    letter-spacing: 1px;
    font-weight: 500px;
    transition: 0.6s;
    padding: 8px;
}

header ul li a:hover,
header.sticky ul li a:hover {
    color: var(--mainColor);
}

header.sticky .logo,
header.sticky ul li a {
    color: #ffffff;
}

header ul li a .icons {
    max-height: 30px;
    width: auto;
}
.nav {
    position: fixed;
    width: 20vw;
    height: auto;
    margin-top: 10vh;
    font-size: 1.5em;
    background-color: var(--mainColor);
    border-right: solid 10px black;
    box-sizing: border-box; 
    padding:0;
    z-index: 1000;
}

.nav .nav-container {
    margin: 0;
    padding: 0;
}

.nav ul {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0;
    padding: 30px;
    line-height: 3em;
}

.nav ul li {
    position: relative;
    list-style-type: none;
}

.nav ul li a {
    text-decoration: none;
    color: black;
}

.appetizer, .entree {
    top: 15vh;
    margin-left: 20vw;
    color: #000;
}

.appetizer h1, .entree h1 {
    padding: 20px 20px 20px 30px;
    font-size: 3em;
    background-color: var(--mainColor);
    z-index: 1;
}

.box-container{
    margin-left: 20px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    row-gap: 20px;
}

.box {
    border: solid 5px #000;
    background-color: #fff;
    overflow: hidden;
    width: 300px;
    height: 350px;
}

.box img {
    width:300px;
    height: 200px;
    object-fit: cover;
}

.box h3, .box p {
    margin: 10px 0 10px 10px;
}

footer {
    background-color: var(--mainColor);
    width: 100vw;
    height: 70vh;
}

footer .footer-content {
    padding: 10vh 30vw 10vh 30vw;
    display: flex;
    justify-content: space-evenly;
}
