:root {
    --mainColor: rgb(226, 202, 250);
    --defaultBack: rgb(53, 53, 53);
}

body {
    font-family: 'Asap Condensed', sans-serif;
    font-family: 'Geologica', sans-serif;
    font-family: 'Nunito', sans-serif;
    font-family: 'Nunito Sans', sans-serif;
    font-family: 'Raleway', sans-serif;
    font-family: 'Red Rose', serif;
    font-family: 'Ubuntu', sans-serif;
    margin: 0;
    background: var(--defaultBack);
    min-height: 200vh;
    overflow-x: hidden;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: 0.6s;
    padding: 20px 0;
    z-index: 100000;
    background-color: black;
}

header.sticky {
    padding: 5px 0;
    background: rgba(0, 0, 0, 0.6);
}

header ul {
    position: relative;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header ul li {
    position: relative;
    list-style: none;
}

header ul li a {
    position: relative;
    margin: 0 15px;
    text-decoration: none;
    color: #fff;
    letter-spacing: 1px;
    font-weight: 500px;
    transition: 0.6s;
    padding: 8px;
}

header ul li a:hover,
header.sticky ul li a:hover {
    color: var(--mainColor);
}

header.sticky .logo,
header.sticky ul li a {
    color: #ffffff;
}

header ul li a .icons {
    max-height: 30px;
    width: auto;
}
.nav {
    width: 30vw;
    height: auto;
    background-color: white;
    font-size: 2em;
}

.nav .nav-container {
    padding: 30px;
}

.nav ul li {
    position: relative;
}

.section1 .table .menu-prompt {
    position: absolute;
    top: 20vh;
    left: 10vw;
}

.section1 .table .reservation-prompt {
    position: absolute;
    top: 20vh;
    right: 10vw;
}

.section1 .table button {
    cursor: pointer;
    border: none;
    background-color: transparent;
}

.section1 .table button img {
    width: 100%;
    height: auto; 
    display: block; 
}

.section1 .table .menu-prompt #sandwich-button {
    width: 400px;
    transform: rotate(-10deg);
}

.section1 .table .reservation-prompt #controller-button {
    width: 550px;
    transform: rotate(15deg);
}

footer {
    background-color: var(--mainColor);
    width: 100vw;
    height: 70vh;
}

footer .footer-content {
    padding: 10vh 30vw 10vh 30vw;
    display: flex;
    justify-content: space-evenly;
}
